html {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    height: 100svh;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 1rem;
    background-color: #FFD7AE;
    background-image: radial-gradient(#ffb46a 1px, transparent 1px);
    background-size: 20px 20px;
}

page {
    display: none;
    width: 100%;
    max-width: 400px;
}

h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    text-align: right;
}

input, button {
    font-size: 1rem;
}

input {
    border: 3px solid transparent;
    border-bottom: 3px solid #111;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: .5rem 1rem;

}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #111;
}

button {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    border: 3px solid sandybrown;
    border: none;
    border-radius: 5rem;
    color: rgba(255, 255, 255, 0.84);
    background-color: #121212;
    cursor: pointer;
    white-space: nowrap;
    height: 2.5rem;
    padding-inline: 1rem;
    transition: background-color ease 250ms, opacity ease 250ms;
}

button.disabled {
    opacity: .8;
    pointer-events: none;
}

button:hover {
    background-color: #555;
}

button.secondary {
    color: #333;
    background: none;
    border: 3px solid #121212;
}

button.secondary:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

p {
    font-size: 2rem;
    text-align: center;
}

a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}